body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --gap: 10px;
  --dark-blue: #0B212F;
  --primary: #1363DF;
  --secondary: #47B5FF;
  --light-gray: #daedf4;
  --light-blue: #94e5ff;
  --white: #FFFFFF;
  --light-green: #a6f1a6;
}

/* rgb(0, 68, 255)
rgb(32, 136, 0) */

html,
body,
#root,
.App ,
:root{
  height: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 1px;
}

::-webkit-scrollbar-thumb:vertical {
  background: transparent;
}